#header {
	width: 75%;
	height: auto;
	background-color: #FF0000;
	box-shadow: 0px 0px 50px #0000FF;
	text-align: center;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}
.center {
text-align: center;
}
#main {
	margin: 20px auto auto auto;
	width: 75%;
	height: 390px;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 200px;
	background-color: #FF0000;
	box-shadow: 0px 0px 50px #0000FF;
	border-radius: 10px;
}
#main img {
	width: 14px;
	height: auto;
}
.big {
	font-size: 25px;
	font-weight: bold;
	display: inline;
}

xmp {
	display: inline;
}
table {
padding-left: 25px;
}
td {
height: 25px;
padding: auto;
}
#big {
font-size: 25px;
font-weight: bold;
}

body {
        background-color:#CCCCCC;
}
a {
        color: orange;
        text-decoration: none;
}
