body {
	background-color: black;
	font-family: courier;
	color: #FFFFFF;
}

img {
	height: 60px;
	width: auto;
}

#main {
	background-color:#333333;
	height: 73%;
	width: 80%;
	padding: 2px 10px 2px 10px;
    overflow-y:auto;
}

#button{
	display: inline;
	height: auto;
	width: auto;
	background-color:#333333;
	font-family: courier;
	font-weight:bold;
	padding: 2px;
	text-align:center;
	margin-top: 2px;
	cursor: pointer;
	float: right;
}


input[type="text"]{
	background-color: #333333;
	border: 0px;
	color: white;
	font-family: courier;
	font-size: 95%;
	width: 95%;
}

input[type="text"]:focus{
	outline: none;
}
#belowMain {
	display: block;
	margin-top: 4px;
	background-color: #333333;
	width: 80%;
	padding: 2px 10px 2px 10px;
}
#belowMain p {
	display: inline;
    	margin-left: 8px;
}

#footer {
	margin: auto;
	text-align: center;
	margin-top: 1%;
}
#left {
    display: block;
    float: right;
    height: 37%;
    width: 18%;
}
#area-pic {
    height: 100%;
    width: 100%;
}
/*autocomplete stuff*/
.ui-autocomplete {
    max-height: 14%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
 a {
	color: #FFFFFF;
 }
