a {
    text-decoration: none;
}
input[type=text] {
    -webkit-appearance: none;
    appearance: none;
    border: 0px;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: Calc(100% - 50px);
    background-color: #FFF;
    font-family: 'Raleway', 'sans-serif';
    text-align: center;
}
#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: Calc(100% - 50px);
    background-color: #FFF;
    font-family: 'Raleway', 'sans-serif';
    text-align: center;
    color: #000;
    font-size: 22px;
    line-height: 30px;
}
#game {
    position: fixed;
    top: 50px;
    left: 0px;
    width: Calc(100% - 50px);
    height: Calc(100% - 70px);
    font-family: 'Raleway', 'sans-serif';
    text-align: left;
    background-color: #d4d4d4;
}
#game-output {
    font-size: 20px;
    overflow-y: scroll;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    height: Calc(100% - 290px);
}
#game-output-display {
    position: fixed;
    bottom: 30px;
    left: 0px;
    height: 200px;
    width: Calc(100% - 50px);
    background: url(../images/home.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#game-input-container {
    font-size: 20px;
    color: #FFF;
    background-color: #717171;
    height: 40px;
    outline: none !important;
    border: none !important;
    line-height: 40px;
    text-align: center;
}
#game-input {
    position: absolute;
    left: 40px;
    appearance:none;
    height: 40px;
    width: Calc(100% - 40px);
    padding: 0px;
    margin: 0px;
    outline: none;
    line-height: 40px;
    text-align: center;
    font-family: 'Raleway', 'sans-serif';
    font-size: 24px;
}
#game-input-icon {
    left: 0px;
    width: 40px;
    height: 0px;
    line-height: 40px;
}
#title {
    color: #000;
    font-size: 28px;
    line-height: 50px;
}
#menu {
    position: fixed;
    top: 0px;
    left: 100%;
    width: 250px;
    height: 100%;
    background-color: #383838;
    color: white;
    font-family: 'Raleway', 'sans-serif';
    text-align: center;
    line-height: 50px;
    margin-left: -50px;
}
#menu-side {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #383838;
    font-size: 28px;
    line-height: 50px;
}
#menu-sub {
    position: absolute;
    left: 50px;
    width: 300px;
    height: 100%;
    background-color: #383838;
    line-height: 50px;
    /*margin-right: 250px;*/
}
.segment {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu-title {
    height: 30px;
    line-height: 30px;
    font-size: 26px;
}
.menu-content {
    line-height: 22px;
    font-size: 18px;
}
