.center {
text-align: center;
}
#main img {
	width: 14px;
	height: auto;
}
.big {
	font-size: 25px;
	font-weight: bold;
	display: inline;
}

xmp {
	display: inline;
}
table {
padding-left: 25px;
}
td {
height: 25px;
padding: auto;
}
#big {
font-size: 25px;
font-weight: bold;
}
body {
	background-color: black;
	font-family: courier;
	color: #FFFFFF;
}
#main {
	background-color:#333333;
	height: 73%;
	width: auto;
	padding: 2px 10px 2px 10px;
    overflow-y:auto;
}
#belowMain {
	display: block;
	margin-top: 4px;
	background-color: #333333;
	width: auto;
	padding-bottom: 1px;
}
#belowMain p {
	display: inline;
    	margin-left: 8px;
}

#header {
	margin: auto;
	text-align: center;
}
a {
	color: #FFFFFF;
}
